main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-set {
  display: flex;
  justify-content: space-between;
}

.container-uploader {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 600px;
  background-color: #3d78cb;
}

.content-logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 31px 0 0 46px;
  color: #FFFFFF;
}

.content-logo-title img {
  width: 40px;
}

.content-logo-title h1 {
  font-size: 2.5rem;
}

.container-insert-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 90px;
  width: 400px;
  height: 200px;
  border: 2px dashed whitesmoke;
}

.container-file-name {
  align-self: center;
}

.container-file-name h4 {
  color: #FFFFFF;
}

.container-uploader button,
.container-file button {
  align-self: center;
  width: 147px;
  height: 49px;
  margin-top: 25px;
  border: none;
  border-radius: 60px;
  color: #FFFFFF;
  font-size: 1.8rem;
  background-color: #2AB5DB;
  cursor: pointer;
  transition: all 0.3s;
}

.container-uploader button:hover,
.container-file button:hover {
  background-color: #FFFFFF;
  border: 2px solid #2AB5DB;
  color: #2AB5DB;
  transform: scale(1.03);
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #77A0DA;
  width: 40%;
  height: 600px;
  border-bottom-right-radius: 200px;
}

.container-image img {
  width: 300px;
}

.container-file {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  padding: 0 76px;
}

.content-file {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 25px;
  max-height: 700px;
  overflow: auto;
}

.content-not-file {
  display: flex;
  justify-content: center;
}

.content-not-file img {
  width: 600px;
}