.content-logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 31px 0 0 46px;
  color: #FFFFFF;
}

.content-logo-title img {
  width: 40px;
}

.content-logo-title h1 {
  font-size: 2.5rem;
}